---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import ProjectDetail from '../components/ProjectDetail.astro';

const startCareer = 2019;
const experience = new Date().getFullYear() - startCareer;
---

<Layout title="Sonny Michael | Full Stack Developer">
	<main>
		<!--================ Start Home Banner Area =================-->
		<section class="home_banner_area" id="home">
			<div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="banner_content">
								<h3 class="text-uppercase">Hello</h3>
								<h1 class="text-uppercase">I am Sonny Michael</h1>
								<h5 class="text-uppercase">Full Stack Developer</h5>
								<div class="d-flex align-items-center">
									<a class="primary_btn" href="#contact"><span>Get In Touch</span></a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="">
								<img class="img-fluid" src="img/banner/home-right.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================ End Home Banner Area =================-->

		<!--================ Start About Us Area =================-->
		<section class="about_area" id="about">
			<div class="container">
				<div class="row justify-content-start">
					<div class="col-lg-5">
						<div class="about_img">
							<img src="img/about-us.png" alt="">
						</div>
					</div>

					<div class="offset-lg-1 col-lg-5">
						<div class="main_title text-left">
							<h2>let’s <br>
								Introduce about <br>
								myself</h2>
							<p>
								Love to learn something new and easy going. Experienced in {experience}+ years being programmer, I have working on variety project website, apps, and games. 
							</p>
							<a class="primary_btn" target="_blank" href="https://drive.google.com/file/d/11FeG5Etz7zRgVGkPsRi4HZBKaaTIfxLa/view?usp=sharing"><span>Download CV</span></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================ End About Us Area =================-->

		<!--================ Start Projects Area =================-->
		<section class="projects_area" id="projects">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 text-center">
						<div class="main_title">
							<h2>Projects</h2>
						</div>
					</div>
				</div>

				<div class="row">

					<Project 
						title="Gamelab" 
						img="/img/portfolio/gamelab.png"
						about="Website LMS dengan fitur yang sangat lengkap untuk kebutuhan B2C, B2B, dan B2G. Banyak fitur kompleks pada project ini, contohnya implementasi code editor Online, automasi report, Google Drive, Google Calendar, Google Meet, generate materi dengan AI, dan masih banyak yang lain. Pada project ini saya banyak belajar mengimplementasikan banyak teknologi baru."
						stacks= {["PHP","HTML","CSS","JavaScript","Bootstrap","jQuery","Vuejs","Slim","Medoo","MySQL"]}
						website="https://www.gamelab.id/"
						github=""
					/>

					<Project 
						title="Educa Academy" 
						img="/img/portfolio/academy-educa.png"
						about="Website LMS dengan berfokus pada segment tertentu, contohnya yang sudah berjalan adalah untuk Guru. Terdapat juga fitur Event dan Blog."
						stacks= {["PHP","HTML","CSS","JavaScript","Bootstrap","jQuery","Vuejs","Slim","Medoo","MySQL"]}
						website="https://academy.educa.id/"
						github=""
					/>

					<Project 
						title="Company Profile - Educa" 
						img="/img/portfolio/compro.png"
						about="Company Profile tentang perusahaan Educa Studio. Website statis, tidak banyak menggunakan teknologi, berfokus pada informasi mengenai perusahaan. Dengan desain clean dan interaktif, diharapkan informasi dapat tersampaikan dengan baik."
						stacks= {["HTML","CSS","JavaScript","Bootstrap","jQuery"]}
						website="https://lp.educastudio.com/comprov2"
						github=""
					/>

					<Project 
						title="Educa Studio" 
						img="/img/portfolio/educastudio.png"
						about="Portal perusahaan Educa Studio, informasi lengkap mengenai Brands, Channels, dan Programs Educa Studio. Terdapat fitur Event, Blog, dan Redeem Code Voucher untuk aplikasi Educa Studio."
						stacks= {["PHP","HTML","CSS","JavaScript","Bootstrap","jQuery","Slim","Medoo","MySQL"]}
						website="https://www.educastudio.com/"
						github=""
					/>

					<Project 
						title="Platform Educa Studio" 
						img="/img/portfolio/platform.png"
						about="Website CMS dan API Services untuk aplikasi Educa Studio. Dapat melakukan manage content, downloadble assets, dan monitoring analytics data yang dibuat dan diolah sendiri tidak menggunakan 3rd party."
						stacks= {["PHP","HTML","CSS","JavaScript","Bootstrap","jQuery","Slim","Medoo","MySQL","Postman"]}
						website="https://platform.educastudio.com/"
						github=""
					/>

					<Project 
						title="Report Educa Studio" 
						img="/img/portfolio/report.png"
						about="Website reporting Educa Studio untuk melakukan absen, laporan harian, dan informasi mengenai internal perusahaan."
						stacks= {["PHP","HTML","CSS","JavaScript","Bootstrap","jQuery","MySQL"]}
						website="https://report.educastudio.com/"
						github=""
					/>

					<Project 
						title="Kapila" 
						img="/img/portfolio/kapila.png"
						about="Website les private secara Online dengan fitur Video Call 1 on 1, terdapat papan media interaktif dan mini games secara real time. User dapat memilih jadwal dan guru sendiri. Terdapat juga fitur Event dan Blog."
						stacks= {["PHP","HTML","CSS","JavaScript","Bootstrap","jQuery","MySQL","Laravel","Socket","Phaser"]}
						website="https://www.kapila.id/"
						github=""
					/>

					<Project 
						title="Jadi Programmer" 
						img="/img/portfolio/jadiprogrammer.png"
						about="Website blog pribadi, saya sering menuliskan artikel khususnya tutorial di sini. Dibuat menggunakan wordpress."
						stacks= {["PHP","HTML","CSS","JavaScript","Wordpress"]}
						website="https://www.jadiprogrammer.com/"
						github=""
					/>

					<Project 
						title="NFT Marketplace" 
						img="/img/portfolio/nft-marketplace.png"
						about="Website NFT Marketplace, dapat melakukan minting NFT dan membeli NFT. Project ini tidak digunakan untuk komersial, hanya untuk belajar mengenai blockchain."
						stacks= {["HTML","CSS","JavaScript","Solidity","Nextjs","Tailwind","Truffle","Infura","Optimism"]}
						website="https://nft-marketplace-one-silk.vercel.app/"
						github="https://github.com/isonnymichael/nft-marketplace"
					/>

					<Project 
						title="Polyzard" 
						img="/img/portfolio/polyzard.png"
						about="Game dengan genre Idle, terintegrasi dengan token blockchain. Semangka token dibuat pada jaringan Polygon dan menggunakan openzeppelin ERC20. Terdapat fitur top score dan penyimpanan data menggunakan firebase. Salah satu project belajar saya tentang blockchain."
						stacks= {["C#","Solidity","Unity","Thirdweb","Remix","Polygon","Firebase"]}
						website="https://polyzard-build.vercel.app/"
						github="https://github.com/isonnymichael/polyzard-build"
					/>

					<Project 
						title="SButtons" 
						img="/img/portfolio/sbuttons.png"
						about="Project opensource github, library button menggunakan Less CSS. Menjadi salah satu contributors dan maintenancer. Salah satu project saya untuk belajar kontribusi project open source."
						stacks= {["HTML","CSS","Javascript","Less"]}
						website="https://sbuttons.netlify.app/"
						github="https://github.com/sButtons/sbuttons"
					/>

					<Project 
						title="Blue Band Apps" 
						img="/img/portfolio/blueband.png"
						about="Aplikasi mobile (Android) dibuat menggunakan Kotlin, hanya mengerjakan pada bagian frontend (mobile apps). Terdapat menu, resep, dan penukaran hadiah berdasarkan point yang didapatkan dengan membeli produk didalamnya."
						stacks= {["Kotlin","Android Studio"]}
						website="https://play.google.com/store/apps/details?id=app.bluebandkitchenmaster.com&hl=en_ZA/"
						github=""
					/>

					<Project 
						title="Allstars Apps" 
						img="/img/portfolio/allstars.png"
						about="Aplikasi mobile (Android) dibuat menggunakan React Native, hanya mengerjakan pada bagian frontend (mobile apps). Merupakan aplikasi marketplace influencer, user dapat membeli atau menjual jasa sebai influencer."
						stacks= {["JavaScript","React Native","Android Studio"]}
						website="https://play.google.com/store/apps/details?id=id.allstars.member&hl=en_ZA"
						github=""
					/>

					<Project 
						title="Logic Games for Kids - Marbel Games" 
						img="/img/portfolio/petualanganlogika.png"
						about="Game dengan genre Puzzle, banyak logika kompleks yang dibuat pada project ini. Dibuat dengan bahasa C++ dan game engine Cocos2DX. Selain ini ada beberapa game Marbel juga yang saya buat."
						stacks= {["C++","Cocos2DX","Android Studio"]}
						website="https://play.google.com/store/apps/details?id=com.educastudio.marbellogicadventures&hl=en_ZA"
						github=""
					/>

					<Project 
						title="Marbel Fauna 4D - Flashcard" 
						img="/img/portfolio/marbel4d.png"
						about="Aplikasi 4D bertemakan Fauna, aplikasi dapat melakukan scaning pada produk flashcard dan akan memunculkan Model 3D sesuai dengan gambar. Dibuat menggunakan Unity dan library EasyAR."
						stacks= {["C#","Unity","Android Studio"]}
						website="https://play.google.com/store/apps/details?id=com.educastudio.marbelfauna4d&hl=en_ZA"
						github=""
					/>
					
				</div>

			</div>
		</section>
		<!--================ End Projects Area =================-->

		<!--================ Start Contact Area =================-->
		<section class="contact-area" id="contact">
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col-12 col-sm-12 col-md-8">
						<div class="main_title">
							<h2>CONTACT ME </h2>
						</div>

						<div class="card p-4 shadow border-0">
							<form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbxyvFqetMIZwdUTU2dw_vwYnVYcGrlTOEDIfBE5/exec">
								<div class="form-group">
									<label for="name">Email:</label>
									<input id="form-email" class="form-control col-12" placeholder="Enter Your Email" type="email" name="email" required>
								</div>
	
								<div class="form-group">
									<label for="name">Name:</label>
									<input id="form-name" class="form-control col-12" placeholder="Enter Your Name" type="text" name="name" required>
								</div>
	
								<div class="form-group">
									<label for="name">Message:</label>
									<textarea id="form-message" class="form-control col-12" placeholder="Enter Your Message" rows="8" name="message" required></textarea>
								</div>
	
								<button class="primary_btn float-right mt-1 btn-block" type="submit">
									<span>Send Message</span>
								</button>
							</form>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		<!--================ End Newsletter Area =================-->
		
		<ProjectDetail />
	</main>
</Layout>

<script is:inline type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>

<script type="text/javascript">
	(function(){
	   emailjs.init("JUMAkpW3rGZb8oU_U");
	})();
 </script>