---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const startCareer = 2019;
const experience = new Date().getFullYear() - startCareer;
---

<Layout title="Sonny Michael | Full Stack Developer">
	<main>
		<!--================ Start Home Banner Area =================-->
		<section class="home_banner_area" id="home">
			<div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="banner_content">
								<h3 class="text-uppercase">Hello</h3>
								<h1 class="text-uppercase">I am Sonny Michael</h1>
								<h5 class="text-uppercase">Full Stack Developer</h5>
								<div class="d-flex align-items-center">
									<a class="primary_btn" href="#contact"><span>Get In Touch</span></a>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="">
								<img class="img-fluid" src="img/banner/home-right.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================ End Home Banner Area =================-->

		<!--================ Start About Us Area =================-->
		<section class="about_area" id="about">
			<div class="container">
				<div class="row justify-content-start">
					<div class="col-lg-5">
						<div class="about_img">
							<img src="img/about-us.png" alt="">
						</div>
					</div>

					<div class="offset-lg-1 col-lg-5">
						<div class="main_title text-left">
							<h2>let’s <br>
								Introduce about <br>
								myself</h2>
							<p>
								Love to learn something new and easy going. Experienced in {experience}+ years being programmer, I have working on variety project website, apps, and games. 
							</p>
							<a class="primary_btn" target="_blank" href="https://drive.google.com/file/d/11FeG5Etz7zRgVGkPsRi4HZBKaaTIfxLa/view?usp=sharing"><span>Download CV</span></a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================ End About Us Area =================-->

		<!--================ Start Projects Area =================-->
		<section class="projects_area" id="projects">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 text-center">
						<div class="main_title">
							<h2>Projects</h2>
						</div>
					</div>
				</div>
				<div class="row feature_inner">
					<div class="col-lg-3 col-md-6">
						<div class="feature_item h-100 shadow">
							<img src="img/services/s1.png" alt="">
							<h4>Programming Lessons/Training</h4>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="feature_item h-100 shadow">
							<img src="img/services/s2.png" alt="">
							<h4>Game Development</h4>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="feature_item h-100 shadow">
							<img src="img/services/s3.png" alt="">
							<h4>Web Development</h4>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="feature_item h-100 shadow">
							<img src="img/services/s4.png" alt="">
							<h4>Mobile Development</h4>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================ End Projects Area =================-->

		<!--================ Start Contact Area =================-->
		<section class="contact-area" id="contact">
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-12">
						<div class="main_title">
							<h2>CONTACT ME </h2>
						</div>
						<form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbxyvFqetMIZwdUTU2dw_vwYnVYcGrlTOEDIfBE5/exec">
							<div class="form-group">
								<label for="name">Your Email:</label>
								<input id="form-email" class="form-control col-6" type="email" name="email" required>
							</div>

							<div class="form-group">
								<label for="name">Name:</label>
								<input id="form-name" class="form-control col-6" type="text" name="name" required>
							</div>

							<div class="form-group">
								<label for="name">Message:</label>
								<textarea id="form-message" class="form-control col-8" type="text" rows="8" name="message" required></textarea>
							</div>

							<button class="primary_btn" type="submit">
								<span>Send</span>
							</button>
							
						</form>
					</div>
				</div>
			</div>
		</section>
		<!--================ End Newsletter Area =================-->
	</main>
</Layout>

<script is:inline type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>

<script type="text/javascript">
	(function(){
	   emailjs.init("JUMAkpW3rGZb8oU_U");
	})();
 </script>