---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import ProjectDetail from '../components/ProjectDetail.astro';

const startCareer = 2019;
const experience = new Date().getFullYear() - startCareer;
---

<Layout title="Sonny Michael | Full Stack Developer">
  <main>
    <!-- Home Banner Section -->
    <section id="home" class="home_banner_area">
      <div class="banner_inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="banner_content">
                <h3 class="text-uppercase">Hello</h3>
                <h1 class="text-uppercase">I am Sonny Michael</h1>
                <h5 class="text-uppercase">Full Stack Developer</h5>
                <div class="d-flex align-items-center">
                  <a href="#contact" class="primary_btn"><span>Get In Touch</span></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="profile_img">
                <img src="img/banner/home-right.png" alt="Profile" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section -->
    <section id="about" class="about_area">
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-lg-5">
            <div class="about_img">
              <img src="img/about-us.png" alt="About Me">
            </div>
          </div>
          <div class="offset-lg-1 col-lg-5">
            <div class="main_title text-left">
              <h2>Let’s<br>Introduce<br>Myself</h2>
              <p>
                I am passionate about learning and love tackling new challenges. With {experience}+ years of experience as a programmer, I have worked on a wide range of projects including websites, applications, and games.
              </p>
              <a href="https://drive.google.com/file/d/1v36OOtjwNJFgfycSKxBiy_O_WN3WHF-G/view?usp=sharing" class="primary_btn" target="_blank"><span>Download CV</span></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects_area">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <div class="main_title">
              <h2>Projects</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Add project components dynamically -->
          <Project 
            title="Gamelab"
            img="/img/portfolio/gamelab.png"
            about="LMS website with comprehensive features for B2C, B2B, and B2G needs. Includes features like an online code editor, report automation, and AI-generated materials."
            stacks={["PHP", "HTML", "CSS", "JavaScript", "Bootstrap", "jQuery", "Vuejs", "Slim", "Medoo", "MySQL"]}
            website="https://www.gamelab.id/"
          />
          <!-- Additional Project components go here -->
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-area">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-8">
            <div class="main_title">
              <h2>Contact Me</h2>
            </div>
            <div class="card p-4 shadow border-0">
              <form id="gform" method="POST" action="https://script.google.com/macros/s/AKfycbxyvFqetMIZwdUTU2dw_vwYnVYcGrlTOEDIfBE5/exec">
                <div class="form-group">
                  <label for="form-email">Email:</label>
                  <input type="email" id="form-email" name="email" class="form-control" placeholder="Enter Your Email" required>
                </div>
                <div class="form-group">
                  <label for="form-name">Name:</label>
                  <input type="text" id="form-name" name="name" class="form-control" placeholder="Enter Your Name" required>
                </div>
                <div class="form-group">
                  <label for="form-message">Message:</label>
                  <textarea id="form-message" name="message" class="form-control" rows="8" placeholder="Enter Your Message" required></textarea>
                </div>
                <button type="submit" class="primary_btn btn-block mt-1"><span>Send Message</span></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <ProjectDetail />
  </main>
</Layout>

<script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js" is:inline></script>
<script>
  (function() {
    emailjs.init("JUMAkpW3rGZb8oU_U");
  })();
</script>
