---
import Header from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;

const startCareer = 2019;
const experience = new Date().getFullYear() - startCareer;
const metaDescription = "Love to learn something new and easy going. Experienced in "+experience+"+ years being programmer, I have working on variety project website, apps, and games. "
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={metaDescription} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/img/favicon.png" type="image/png">

		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/style.css?v=0.2">
		
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />

		<slot />

		<Footer />
	</body>
</html>

<script is:inline src="/js/jquery-3.2.1.min.js"></script>
<script is:inline src="/js/popper.js"></script>
<script is:inline src="/js/bootstrap.min.js"></script>
<script is:inline src="/js/index.js?v=0.2"></script>
<script is:inline src="/js/theme.js"></script>
<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
